<div id="sidebar">

	<!-- Sidebar -->
	<section>
		<h3>Institucional</h3>
		<ul>
		  <li><a href="{{ site.baseurl }}/institucional/got.html">&#9679; GoT - Girls of Things</a></li>
		  <li><a href="#">&#9679; FEI Portas Abertas</a></li>
		  <li><a href="#">&#9679; Não sei</a></li>
		  <li><a href="#">&#9679; Qualquer coisa</a></li>
		</ul>
	</section>
	
	<section>
		<h3>IC</h3>
		<ul>
		  <li><a href="#">&#9679; Lixeira Inteligente</a></li>
		  <li><a href="#">&#9679; Câmera da hora do Brenno</a></li>
		</ul>
	</section>
	
	<section>
		<h3>TCC</h3>
		<ul>
		  <li><a href="#">&#9679; SEDNA - Sistema emergencial de desastres naturais</a></li>
		</ul>
	</section>
	
	<section>
		<h3>Mestrado</h3>
		<ul>
		  <li><a href="#">&#9679; Terra molhada da Cris</a></li>
		</ul>
	</section>
	
</div>
